@import "variables.scss";

#contact{
    padding-top: 200px;
    .contact-content{
        max-width: 500px;
        text-align: justify;
    }
    
    .form-contact{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .form-group{
        background-color: none !important;
        ::placeholder{
            color: $bnn-color-secondary;
        }
        .form-control{
            border: none;
            outline: none;
            color: $bnn-color-text-color;
            background: $bnn-color-background-filed;
        }
    }
}