@import "variables.scss";

.contacto{
    .form-group{
        background-color: none !important;
        border: 1px solid $bnn-color-background-filed;
        ::placeholder{
            color: $bnn-color-secondary;
        }
        .form-control{
            border: none;
            color: $bnn-color-text-color;
            background: $bnn-color-background-filed;
        }
    }
}