@import './variables.scss';

@font-face {
    font-family: "oswald";
    src: url(../fonts/oswald/Oswald-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "roboto-regular";
    src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

p{
    color: #747982;
}

.titulo{
    font-family: "oswald";
}

.btn-bnn{
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,.1);
    margin: 1rem 0;
    padding: .5rem 2.5rem;
    color: $bnn-color-text;
}

body, html{
    position: relative !important;
    color: $bnn-color-text;
    background-color: $bnn-color-primary;
    font-family: "roboto-regular";

    .container{
        video{
            width: 100%;
        }
        
        .page{
            &:nth-child(odd){
                background-color: $bnn-color-primary;
            }
            &:nth-child(even){
                background-color: $bnn-color-secondary;
            }
            &#mision{
                background-image: url('../images/MISSION.png');
            }
            &#vision{
                background-image: url('../images/VISUAL.png');
            }
            &#contact{
                background-image: url('../images/CONTACT.png');
            }
            background-size: cover;
            background-repeat: no-repeat;

            overflow: hidden;
            border: 1px solid $bnn-luz;
            padding-top: 0px;
            width: 100%;
        }
        
        div.page:not(:first-of-type) {
            padding: 5rem .5rem;
        }
    }

    input{
        color: $bnn-color-text;
    }    
}

.special-separate{
    padding-top: 6rem;
    padding-bottom: 6rem;
    font-weight: bold;
}