@import './variables.scss';

@font-face {
    font-family: "oswald";
    src: url(../fonts/oswald/Oswald-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "roboto-regular";
    src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

.titulo{
    font-family: "oswald";
}

body{
    color: $bnn-color-text-color;
    background-color: $bnn-color-primary;
    font-family: "roboto-regular";

    .container{
        video{
            width: 100%;
        }
        
        .page{
            overflow: hidden;
            border: 1px solid $bnn-luz;
            //margin-top: -80px;
            padding-top: 0px;
            width: 100%;
            //height: calc(100vh + 90px);
            
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(odd){
                background-color: $bnn-color-primary;
            }
            &:nth-child(even){
                background-color: $bnn-color-secondary;
            }
        }
        
        div.page:not(:first-of-type) {
            padding-top: 56px;
        }
    }

    input{
        color: $bnn-color-text-color;
    }    
}

