@import './variables.scss';
body{
    color: $bnn-color-text-color;
    background-color: $bnn-color-primary;

    .container{
        video{
            width: 100%;
        }
        
        .page{
            overflow: hidden;
            border: 1px solid $bnn-luz;
            margin-top: -80px;
            padding-top: 90px;
            width: 100%;
            height: calc(100vh + 90px);

            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(odd){
                background-color: $bnn-color-primary;
            }
            &:nth-child(even){
                background-color: $bnn-color-secondary;
            }
        }
        
        div.page:not(:first-of-type) {
            padding-top: 56px;
        }
        
    }

    input{
        color: $bnn-color-text-color;
    }

    
}